{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    {{ mot.inLatin }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                {%  include 'partials/avatar.html.twig' with {'current_user': mot.user, 'size': 128, 'classes': 'mr-3 rounded' } only %}
                <p class="mt-1">
                    Par: {{ mot.user.username }}
                    <br>
                    Le: {{ mot.createdAt | date }}
                </p>

                {% if mot.user == app.user %}
                    <div>
                        <button title="Supprimer cette publication" type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-post">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                {% endif %}
            </div>
            <div class="col-sm-10">
                <div class="bg-white rounded text-dark mb-4">
                    <div class="p-2">
                        <h1 class="mb-1">{{ mot.inLatin }}</h1>
                        <h2 class="mt-0">
                            <span title="{{ 'label.tamazight_char' | trans }}">{{ mot.inTamazight }}</span> |
                            <span title="{{ 'label.arabic_char' | trans }}">{{ mot.inArabic }}</span>
                        </h2>
                    </div>

                    <div class="bg-light border-top border-bottom">
                        {% if mot.imageName %}
                            <p>{%  include 'partials/almrsk_image.html.twig' with {'almrsk': mot } only %}</p>
                        {% endif %}
                        <p class="p-3">{{ mot.description }}</p>
                    </div>
                </div>

                <div class="card text-dark almrsk-comments">
                    <p class="card-header">
                        <strong>
                            {{ 'label.comments' | trans }}
                        </strong>
                    </p>

                    <div class="card-body">
                        <div id="fos_comment_thread" data-thread="{{ thread.id }}">
                            {% include 'partials/comments.html.twig' with {
                                'comments': comments,
                                'thread': thread
                            } %}
                        </div>

                        {#{% include '@FOSComment/Thread/async.html.twig' with {'id': mot.id } %}#}
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="fos_comment_thread"></div>

    <!-- Modal -->
    <div class="modal fade" id="delete-post" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Supprimer une publication</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Confirmer la suppression de cette publication?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <a href="{{ path('mot_delete', { 'id': mot.id }) }}" class="btn btn-danger">Oui, supprimer</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/foscomment/js/comments.js') }}"></script>
{% endblock %}