{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    {{ 'label.almrsk.h1' | trans({'%almrsk%' : 'mots'}) }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-sm-8">
                <h1 class="mb-3">{{ 'label.almrsk.h1' | trans({'%almrsk%' : 'mots'}) }}</h1>

                {% for mot in mots %}
                    <div class="bg-white rounded text-dark mb-4">


                            <div class="media p-1 border-bottom">
                                {%  include 'partials/avatar.html.twig' with {'current_user': mot.user, 'size': 64, 'classes': 'mr-3 rounded' } only %}
                                <div class="media-body">
                                    <p class="mt-1">
                                        <strong>Par: {{ mot.user.username }}</strong>
                                        <br>
                                        <span class="text-secondary">Le: {{ mot.createdAt | date('d/m/Y') }}</span>
                                    </p>
                                </div>
                            </div>

                            <div class="center-container p-3 bg-light border-bottom">
                                <h2 class="mt-0 mb-1" title="{{ 'label.latin_char' | trans }}">
                                    <a href="{{ path('mot_show', {'id': mot.id, 'slug': mot.slug|default('hhh')}) }}">
                                        {{ mot.inLatin }}
                                    </a>
                                </h2>
                                <h3 class="mt-0">
                                    <span title="{{ 'label.tamazight_char' | trans }}">{{ mot.inTamazight }}</span> |
                                    <span title="{{ 'label.arabic_char' | trans }}">{{ mot.inArabic }}</span>
                                </h3>

                                {% if mot.imageName %}
                                    <div class="img-container mb-3 bg-light">
                                        <a href="{{ path('mot_show', {'id': mot.id, 'slug': mot.slug|default('hhh')}) }}">
                                            {%  include 'partials/almrsk_image.html.twig' with {'almrsk': mot } only %}
                                        </a>
                                    </div>
                                {% endif %}

                                <p>{{ mot.description }}</p>
                            </div>


                        <!--
                        <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                        -->
                            <div class="bottom-container p-2 text-right">

                                {%  include 'partials/liking.html.twig' with {
                                    'almrsk': mot,
                                    'liking_users': likings | length > 0 ? likings[mot.id] is defined ? likings[mot.id] : [] : []
                                } only %}

                                <a href="{{ path('mot_show', {'id': mot.id, 'slug': mot.slug|default('hhh')}) }}" title="{{ 'label.details_reactions' | trans }}" class="ml-3">
                                    <i class="fa fa-comment"></i>
                                    {{ 'label.comments' | trans }}
                                </a>
                            </div>
                    </div>
                {% endfor %}

                <div class="pagination-container">
                    {{ knp_pagination_render(mots) }}
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card text-dark almrsk-submission">

                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") == false %}
                        <div class="post-form-layer text-light">
                            <p>
                                Tu veux publier des alamouriskas?
                                <br>
                                <br>
                                <a href="{{ path('fos_user_security_login') }}" title="Se connecter ou S'inscrire" class="user btn btn-primary">
                                    <i class="fa fa-user"></i> Connecte-toi !
                                </a>
                            </p>
                        </div>
                    {% endif %}

                    <p class="card-header">
                        <strong>{{ 'label.almrsk.insert_new' | trans({'%almrsk%' : 'un nouveau mot'}) }}</strong>
                    </p>
                    <div class="card-body">
                        {{ include('partials/_form.html.twig') }}
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
