{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="card text-dark">
        <div class="card-header">
            <h1 class="text-center">{{ 'label.profile' | trans }}</h1>
        </div>
        <div class="card-body bg-light">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="text-right">
                <a href="{{ path('fos_user_profile_show') }}" class="btn btn-secondary mr-2">{{ 'label.cancel' | trans }}</a>
                <button type="submit" class="btn btn-happy">{{ 'label.submit' | trans }}</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
