{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    <div class="card text-dark">

        <div class="card-header">
            <h1 class="text-center">Profil</h1>
        </div>

        <div class="card-body">
            <div class="media mb-5">
                {%  include 'partials/avatar.html.twig' with {'current_user': user, 'size': 128, 'classes': 'mr-3 rounded' } only %}
                <div class="media-body">
                    <dl class="dl-horizontal">
                        <dt>{{ 'form.username' | trans }}</dt>
                        <dd>{{ user.username }}</dd>
                        <dt>{{ 'form.email' | trans }}</dt>
                        <dd>{{ user.email }}</dd>
                    </dl>
                </div>
            </div>

            <div class="pull-right">
                <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary">
                    <i class="fa fa-edit"></i>
                    {{ 'profile.edit.submit' | trans }}
                </a>
                <a href="{{ path('fos_user_resetting_request') }}" class="btn btn-primary">
                    <i class="fa fa-lock"></i>
                    {{ 'resetting.reset.submit' | trans }}
                </a>
                <a href="{{ path('fos_user_security_logout') }}" class="btn btn-danger">
                    <i class="fa fa-lock"></i>
                    {{ 'layout.logout' | trans }}
                </a>
            </div>
        </div>
    </div>



{% endblock fos_user_content %}
