{% set avatar = asset('images/default-avatar.jpg') %}

{% if almrsk.user.avatarName is not null %}
    {% set avatar = vich_uploader_asset(almrsk.user, 'avatarFile') %}
{% endif %}

{% if app.user %}
    <a href="{{ path('fos_user_profile_edit') }}" title="{{ 'user.change_avatar' | trans }}">
        <img class="align-self-start mr-3 rounded" src="{{ avatar }}" alt="{{ 'almrsk.by_user' | trans({'user': almrsk.user.username}) }}" width="{{ size }}" height="{{ size }}">
    </a>
{% else %}
    <img class="align-self-start mr-3 rounded" src="{{ avatar }}" alt="{{ 'label.almrsk_by' | trans({'user': almrsk.user.username}) }}" title="{{ 'almrsk.by_user' | trans({'user': almrsk.user.username}) }}" width="{{ size }}" height="{{ size }}">
{% endif %}