{% set avatar = asset('images/default-avatar.jpg') %}

{% if current_user.avatarName is not null %}
    {% set avatar = vich_uploader_asset(current_user, 'avatarFile') %}
{% endif %}

<a href="{{ path('user_show', { 'username': current_user.username }) }}" title="Profil: {{ current_user.username }}" class="user img">
    <img class="align-self-start {{ classes }}" src="{{ avatar }}" alt="{{ current_user.username }}" width="{{ size }}" height="{{ size }}">
</a>