{#

 This file is part of the FOSCommentBundle package.

 (c) FriendsOfSymfony <http://friendsofsymfony.github.com/>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.

#}

{% block fos_comment_comment %}
    <div id="fos_comment_{{ comment.id }}" class="fos_comment_comment_show fos_comment_comment_depth_{{ depth }}" {% if parent is defined and parent is not null %}data-parent="{{ parent.id }}"{% endif %}>
        <div class="fos_comment_comment_metas">
            {% block fos_comment_comment_metas %}

                {% block fos_comment_comment_metas_authorline %}
                    {% trans from 'FOSCommentBundle' %}fos_comment_comment_show_by{% endtrans %}
                    <span class="fos_comment_comment_authorname">{{ comment.authorName }}</span> - {{ comment.createdAt|date }}
                {% endblock fos_comment_comment_metas_authorline %}

                {% block fos_comment_comment_metas_edit %}
                    {% if app.user and comment.author.id == app.user.id %}
                        <button data-container="#fos_comment_comment_body_{{ comment.id }}" data-url="{{ url("fos_comment_edit_thread_comment", {"id": comment.thread.id, "commentId": comment.id}) }}" class="fos_comment_comment_edit_show_form">
                            <i class="fa fa-edit" title="{% trans from 'FOSCommentBundle' %}fos_comment_comment_edit{% endtrans %}"></i>
                        </button>
                    {% endif %}
                {% endblock fos_comment_comment_metas_edit %}

                {% block fos_comment_comment_metas_delete %}
                    {% if app.user and comment.author.id == app.user.id %}
                        <button data-url="{{ url("fos_comment_remove_thread_comment", {"id": comment.thread.id, "commentId": comment.id, "value":  constant('FOS\\CommentBundle\\Model\\CommentInterface::STATE_DELETED')}) }}" class="fos_comment_comment_remove">
                            <i class="fa fa-trash" title="{% trans from 'FOSCommentBundle' %}fos_comment_comment_delete{% endtrans %}"></i>
                        </button>
                    {% endif %}
                {% endblock fos_comment_comment_metas_delete %}
            {% endblock fos_comment_comment_metas %}
        </div>

        <div id="fos_comment_comment_body_{{ comment.id }}" class="fos_comment_comment_body">
            {% block fos_comment_comment_body %}
                {% if comment is fos_comment_in_state(constant('FOS\\CommentBundle\\Model\\CommentInterface::STATE_DELETED')) %}
                    {% trans from 'FOSCommentBundle' %}fos_comment_comment_deleted{% endtrans %}
                {% else %}
                    {% if comment is fos_comment_raw %}
                        {{ comment.rawBody | raw }}
                    {% else %}
                        {{ comment.body | nl2br }}
                    {% endif %}
                {% endif %}
            {% endblock fos_comment_comment_body %}
        </div>
    </div>
{% endblock fos_comment_comment %}
