<div class="col-sm">
    <div class="card">
        <p class="card-header">
            <strong>{{ header }}</strong>
        </p>
        <div class="card-body">
            {% if posts is defined and posts | length > 0 %}
                <ul class="pl-3">
                    {% for post in posts %}
                        <li title="{{ post }}">
                            <a href="{{ path(route, { 'id': post.id, 'slug': post.slug }) }}">
                                {{ post | truncate(25) }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="alert-warning p-2">
                    Aucun résultat trouv
                </p>

                {%  if search is defined %}
                    <p class="text-right">
                        <a href="{{ path(search) }}">Afficher tout</a>
                    </p>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>