{% set owner = almrsk | split('\\') | last | lower %}

{% if app.user %}
    <a href="#" class="js_almrsk-thumbs-up" data-id="{{ almrsk.id }}" data-owner="{{ owner }}">
        <i class="fa fa-thumbs-up"></i>
        {{ 'label.thumbs_up_add' | trans }}
    </a>
{% else %}
    <a href="#" class="js_ask-log-in" title="{{ 'label.log_in' | trans }}">
        <i class="fa fa-thumbs-up"></i>
        {{ 'label.thumbs_up_add' | trans }}
    </a>
{% endif %}