{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}
    {{ 'security.login.submit'|trans }} - {{ parent() }}
{% endblock %}

{% block fos_user_content %}

    <div class="card text-dark">
        <div class="card-header">
            <h1 class="text-center">{{ 'layout.register' | trans }}</h1>
        </div>
        <div class="card-body">
            <p>Inscris-toi pour pouvoir ajouter des publications ou interagir avec celles des autres.</p>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-happy float-right">{{ 'form.submit' | trans }}</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}