{% extends 'base.html.twig' %}

{% block title %}
    {{ 'welcome_title' | trans }}
    {{ parent() }}
{% endblock %}

{% block font %}
    <link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="container start-page">
        <div class="bubbles">
            <h1 class="font-weight-bold">{{ app_name }}<span class="text-sky">AAA</span>AAAA<span class="text-sky">A</span>A !</h1>
        </div>
        <h2 class="text-sky font-italic">
            Le cri de sauvetage de la langue algérienne !
        </h2>

        <div class="row text-dark mt-5">
            <div class="col-sm-4">

                {% if app.user is same as(null) %} {# For non users only #}
                <div class="card bg-happy mb-3">
                    <div class="card-header font-weight-bold">{{ app_name }}, keskissik?</div>

                    <div class="card-body">
                        <p>{{ page.description | raw }}</p>
                        <a href="{{ path('index_page', { alias: 'keskissik' }) }}" class="btn btn-primary">En savoir plus</a>
                    </div>
                </div>
                {% endif %}

                <div class="card fixed-card fixed-card-200">
                    <p class="card-header bg-light font-weight-bold">
                        Les plus récents
                    </p>

                    <div class="card-body">
                        body
                    </div>
                </div>
                <div class="card fixed-card fixed-card-200">
                    <p class="card-header bg-light font-weight-bold">
                        Les plus enigmatiques
                    </p>

                    <div class="card-body">
                        body
                    </div>
                </div>
                <div class="card fixed-card fixed-card-200">
                    <p class="card-header bg-light font-weight-bold">
                        Les plus commentés
                    </p>

                    <div class="card-body">
                        body
                    </div>
                </div>
                <div class="card bg-sky fixed-card fixed-card-200">
                    <div class="card-header font-weight-bold">Noter {{ app_name }}</div>

                    <div class="card-body">
                        <!-- Rating Stars Box -->
                        <div class="rating-stars text-center">
                            <div>
                                <i class="fa fa-smile-o"></i>
                            </div>
                            <ul id="stars">
                                <li class="star" title="Oh ! Pas bien du tout !" data-value="1" data-message="Pas bien du tout!">
                                    <i class="fa fa-star fa-fw"></i>
                                </li>
                                <li class="star" title="Peut mieux faire." data-value="2">
                                    <i class="fa fa-star fa-fw"></i>
                                </li>
                                <li class="star" title="Intik. Pas mauvais ce truc." data-value="3">
                                    <i class="fa fa-star fa-fw"></i>
                                </li>
                                <li class="star" title="Super ! Bien fait !" data-value="4">
                                    <i class="fa fa-star fa-fw"></i>
                                </li>
                                <li class="star" title="Excellent ! J'adore !" data-value="5">
                                    <i class="fa fa-star fa-fw"></i>
                                </li>
                            </ul>

                            <div class="rating-feedback font-weight-bold"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="card">
                    <p class="card-header font-weight-bold" id="journal-public">Journal public</p>
                    <div class="card-body">

                        <div class="journal-form mb-4 border-bottom pb-2">
                            {% if app.user %}
                                {{ include('partials/_form.html.twig', {'btn' : {'label': 'label.publish' | trans, 'classes' : 'btn-happy'} }) }}
                            {% else %}
                                <div class="form-group">
                                    <label for="op">Publier un message</label>
                                    <textarea id="op" name="op" disabled="disabled" class="form-control"></textarea>
                                </div>
                                {{ include('partials/_btn-login.html.twig', { 'class' : 'btn-happy' }) }}
                            {% endif %}
                        </div>

                        <div class="journal-feed mt-2">
                            {% if journals | length > 0 %}
                                <ul class="list-unstyled">
                                    {% for journal in journals %}
                                        <li class="media mb-3 bg-light p-1">
                                            {%  include 'partials/avatar.html.twig' with {'current_user': journal.user, 'size': 64, 'classes': 'mr-3 rounded' } only %}
                                            <div class="media-body">
                                                <p class="mt-0 mb-1">
                                                    <strong>Par: {{ journal.user.username }}</strong> |
                                                    <span class="text-secondary">Le: {{ journal.createdAt | date }}</span>
                                                </p>
                                                <p>{{ journal.message | nl2br }}</p>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>


{% endblock %}
