{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    {{ 'title.welcome'|trans }}
{% endblock %}

{% block body %}

    <div class="container start-page">

        <div class="row mb-3">
            <div class="d-flex flex-column flex-md-row">
                <div class="mr-md-3 w-50 pt-4 text-center">
                    <img src="{{ asset('images/plongeon.jpg') }}" class="rounded-circle img-thumbnail" alt="">
                </div>
                <div class="p-3">
                    <h1 class="display-4 font-weight-bold">{{ app_name }}AAAAAAAAA !!!</h1>
                    <h2 class="text-muted mt-n4">Le cri pour sauvegarder la langue algérienne !</h2>
                    <p class="text-justify">
                        {{ page.description | raw }}
                        <a href="{{ path('index_page', { alias: 'kesako' }) }}" class="light">En savoir plus</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <div class="card text-dark mb-2">
                    <p class="card-header">
                        Les plus récents
                    </p>

                    <div class="card-body">
                        body
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card text-dark mb-2">
                    <p class="card-header">
                        Les plus commentés
                    </p>

                    <div class="card-body">
                        body
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card text-dark mb-2">
                    <p class="card-header">
                        Les plus enigmatiques
                    </p>

                    <div class="card-body">
                        body
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
