{% extends 'base.html.twig' %}

{% block title %}
    {{ 'welcome_title' | trans }}
    {{ parent() }}
{% endblock %}

{% block font %}
    <link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="container start-page">
        <div class="bubbles">
            <h1 class="font-weight-bold">{{ app_name }}<span class="text-sky">AAA</span>AAAA<span class="text-sky">A</span>A !</h1>
        </div>
        <h2 class="text-sky font-italic">
            Le cri de sauvetage de la langue algérienne !
        </h2>

        <div class="row text-dark mt-5">
            <div class="col-sm-4">

                {% if app.user is same as(null) %} {# For non users only #}
                <div class="card bg-happy mb-3">
                    <div class="card-header font-weight-bold">{{ app_name }}, keskissik?</div>

                    <div class="card-body">
                        {% if page | length %}
                            <p>{{ page.description | raw }}</p>
                            <a href="{{ path('index_page', { alias: 'keskissik' }) }}" class="btn btn-primary">En savoir plus</a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}

                <div class="card mb-2">
                    <div class="card-header font-weight-bold">Les plus enigmatiques</div>
                    <div class="card-body">
                        <ul class="pl-4 mb-2">
                            {% for domain in constant('App\\Utils\\ModelUtils::DOMAINS') %}
                            <li>
                                <a href="{{ path('post_index', { 'domain': domain, 'enigmatique': true }) }}">
                                    Les {{ domain | capitalize }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        <p>
                            Des membres se posent des questions sur l'origine de certaines
                            tournures de langage ; aidez-les.
                        </p>
                    </div>
                </div>


                <!--
                <div class="card mb-2">
                    <div class="card-header font-weight-bold">Les plus commentés</div>
                    <div class="card-body">
                        {% if most_commented | length > 0 %}
                            <ul class="pl-4 mb-2">
                                {% for post in most_commented %}
                                    <li title="{{ post.ownerPost }}">
                                        <a href="{{ post.permalink }}">{{ post.ownerPost | truncate(20) }} ({{ post.numComments }})</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
                -->

                <div class="card bg-sky font-weight-bold mb-2">
                    <div class="card-header">Noter {{ app_name }}</div>

                    <div class="card-body">
                        <!-- Rating Stars Box -->
                        <div class="rating-stars text-center">
                            <div class="mb-2">
                                {% set all = ratings | length %}
                                {% if all > 0 %}
                                    {% set sum = 0 %}
                                    {% for rating in ratings %}
                                        {% set sum = sum + rating.rating %}
                                    {% endfor %}
                                    {% set rating_value = (sum / all) | round(1) %}

                                    Note de la communauté: {{ rating_value }} / 5
                                    <br>
                                    {{ all }} Votes.
                                {% endif %}
                            </div>
                            <ul id="stars" class="mb-2 {{ has_rated is same as(true) ? 'mb-done' }}">
                                <li class="star {{ rating_value >= 1 ? 'selected' }}" title="Oh ! Pas bien du tout !" data-value="1">
                                    <i class="fa fa-star fa-fw"></i>
                                </li>
                                <li class="star {{ rating_value >= 2 ? 'selected' }}" title="Peut mieux faire." data-value="2">
                                    <i class="fa fa-star fa-fw"></i>
                                </li>
                                <li class="star {{ rating_value >= 3 ? 'selected' }}" title="Intik. Pas mauvais ce truc." data-value="3">
                                    <i class="fa fa-star fa-fw"></i>
                                </li>
                                <li class="star {{ rating_value >= 4 ? 'selected' }}" title="Super ! Bien fait !" data-value="4">
                                    <i class="fa fa-star fa-fw"></i>
                                </li>
                                <li class="star {{ rating_value >= 5 ? 'selected' }}" title="Excellent ! J'adore !" data-value="5">
                                    <i class="fa fa-star fa-fw"></i>
                                </li>
                            </ul>

                            <div class="rating-feedback text-success">
                                {{ has_rated is same as(true) ? 'Déjà noté. Awts Merci.' }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="card" id="journal-public">
                    <div class="card-header font-weight-bold">Journal public</div>
                    <div class="card-body">
                        {% if app.user %}
                            {{ include('partials/_form.html.twig', {
                                'form': journalForm,
                                'form_options':  {
                                    'action': path('async_journal_create'),
                                    'attr': { 'class': 'comment-form bg-light p-1 mb-2', 'data-type': 'journal' }
                                },
                                'btn' : {'label': 'label.publish' | trans, 'classes' : 'btn-happy'} })
                            }}
                        {% else %}
                            {% include 'partials/_comment-login-teaser.html.twig' with { 'header': 'Publier un message'} %}
                        {% endif %}

                        <ul class="list-unstyled list-comments">
                            {% if journals | length > 0 %}
                                {% for journal in journals %}
                                    {% include 'partials/_comment-item.html.twig' with { 'object': journal, 'object_type': 'journal'} %}
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
