{% extends 'base.html.twig' %}

{% block title %}
    {{ 'welcome_title' | trans }}
    {{ parent() }}
{% endblock %}

{% block font %}
{% endblock %}

{% block opengraph_title %}
    <meta property="og:title" content="{{ 'welcome_title' | trans }} - {{ app_name }}" />
{% endblock %}

{% block body %}

    <div class="container start-page">

        <div class="row text-dark">
            <div class="col-sm-4">
                <div class="card mb-3">
                    <div class="card-header font-weight-bold">Les publications récentes</div>
                    <div class="card-body">

                        {%  for latest_post in latest_posts %}
                            <div class="media mb-2 pb-1 border-bottom">
                                {%  include 'partials/avatar.html.twig' with {'username': latest_post.username, 'size': 32, 'has_avatar': latest_post.hasAvatar } only %}
                                <a href="{{ latest_post.permalink }}" title="Par: {{ latest_post.username }} - Le: {{ latest_post.createdAt | date }}" class="media-body">{{ latest_post.post }}</a>
                            </div>
                        {% endfor %}

                    </div>
                    <div class="card-footer">
                        <label for="quick-post" class="d-block">
                            <select name="quick-post" id="quick-post" class="form-control bg-happy" onchange="location.href=this.value">
                                <option value="">Publier un mot, expression...</option>
                                <option value="{{ path('post_index', {'domain':'mots-algeriens'}) }}#post-anchor">Publier Un Mot</option>
                                <option value="{{ path('post_index', {'domain':'expressions-algeriennes'}) }}#post-anchor">Publier Une Expresion</option>
                                <option value="{{ path('post_index', {'domain':'proverbes-algeriens'}) }}#post-anchor">Publier Un Proverbe</option>
                                <option value="{{ path('post_index', {'domain':'blagues-algeriennes'}) }}#post-anchor">Publier Une Blague</option>
                            </select>
                        </label>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header font-weight-bold">Les commentaires récents</div>
                    <div class="card-body">
                        {%  for latest_comment in latest_comments %}
                            <div class="media mb-2 pb-1 border-bottom">
                                {%  include 'partials/avatar.html.twig' with {'username': latest_comment.user.username, 'size': 32, 'current_user': latest_comment.user } only %}
                                <a class="media-body" href="{{ path('post_show', { 'domain': domain_by_post(latest_comment.post), 'id': latest_comment.post.id, 'slug': latest_comment.post.slug | default('slug') }) }}">
                                    {{ latest_comment.message | truncate(30) | wordwrap }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header font-weight-bold">Les plus énigmatiques</div>
                    <div class="card-body">
                        <ul class="pl-3 mb-2">
                            {% for domain,entity in constant('App\\Utils\\ModelUtils::ENTITY_DOMAIN') %}
                            <li>
                                <a href="{{ path('post_index', { 'domain': domain, 'enigmatique': true }) }}">
                                    Les {{ ('label.' ~ domain) | trans }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        <p>
                            Des membres se posent des questions sur l'origine de certaines
                            tournures de langage ; aidez-les.
                        </p>
                    </div>
                </div>

                <div class="card bg-sky font-weight-bold mb-3">
                    <div class="card-header">Noter {{ app_name }}</div>

                    <div class="card-body">
                        <!-- Rating Stars Box -->
                        <div class="rating-stars text-center">
                            <div class="mb-2">
                                {% set all = ratings | length %}
                                {% set rating_value = 0 %}
                                {% if all > 0 %}
                                    {% set sum = 0 %}
                                    {% for rating in ratings %}
                                        {% set sum = sum + rating.rating %}
                                    {% endfor %}
                                    {% set rating_value = (sum / all) | round(1) %}

                                    Note de la communauté: {{ rating_value }} / 5
                                    <br>
                                    {{ all }} Votes.
                                {% endif %}
                            </div>
                            <ul id="stars" class="mb-2 {{ has_rated is same as(true) ? 'mb-done' }}">
                                <li class="star {{ rating_value >= 1 ? 'selected' }}" title="Oh ! Pas bien du tout !" data-value="1">
                                    <i class="fa fa-star fa-fw"></i>
                                </li>
                                <li class="star {{ rating_value >= 2 ? 'selected' }}" title="Peut mieux faire." data-value="2">
                                    <i class="fa fa-star fa-fw"></i>
                                </li>
                                <li class="star {{ rating_value >= 3 ? 'selected' }}" title="Intik. Pas mauvais ce truc." data-value="3">
                                    <i class="fa fa-star fa-fw"></i>
                                </li>
                                <li class="star {{ rating_value >= 4 ? 'selected' }}" title="Super ! Bien fait !" data-value="4">
                                    <i class="fa fa-star fa-fw"></i>
                                </li>
                                <li class="star {{ rating_value >= 5 ? 'selected' }}" title="Excellent ! J'adore !" data-value="5">
                                    <i class="fa fa-star fa-fw"></i>
                                </li>
                            </ul>

                            <div class="rating-feedback text-success">
                                {{ has_rated is same as(true) ? 'Déjà noté. Awts Merci.' }}
                            </div>
                        </div>
                    </div>
                </div>

                {% if app.user is same as(null) %} {# For non users only #}
                    <div class="card bg-happy mb-3">
                        <div class="card-header font-weight-bold">{{ app_name }}, keskissik?</div>

                        <div class="card-body">
                            {% if page | length %}
                                <p>{{ page.description | raw }}</p>
                                <a href="{{ path('index_page', { alias: 'keskissik' }) }}" class="btn btn-primary">En savoir plus</a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

            </div>

            <div class="col-sm-8">
                <div class="card mb-3" id="journal-public">
                    <div class="card-header font-weight-bold">Journal public</div>
                    <div class="card-body p-2">
                        {% if app.user %}
                            {{ include('partials/form.html.twig', {
                                'form': journal_form,
                                'form_options':  {
                                    'action': path('async_journal_create'),
                                    'attr': { 'class': 'comment-form bg-light p-1 mb-2', 'data-type': 'journal' }
                                },
                                'btn' : {'label': 'label.publish' | trans, 'classes' : 'btn-happy'} })
                            }}
                        {% else %}
                            {% include 'partials/comment-login-teaser.html.twig' with { 'header': 'Publier un message'} %}
                        {% endif %}

                        <ul class="list-unstyled list-comments">
                            {% if journals | length > 0 %}
                                {% for journal in journals %}
                                    {% include 'partials/comment-item.html.twig' with { 'object': journal, 'object_type': 'journal'} %}
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>

                <div class="card" id="latest-users">
                    <div class="card-header font-weight-bold">Membres récents</div>
                    <ul class="card-body p-2">
                        {%  for latest_user in latest_users %}
                            <li class="media mb-3 p-1">
                                {%  include 'partials/avatar.html.twig' with {'current_user': latest_user } only %}
                                <div class="media-body">
                                    <p class="mt-0 mb-1">
                                        {%  include 'partials/action_by.html.twig' with {'user': latest_user, 'action_date': latest_user.createdAt } only %}
                                    </p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>

        </div>
    </div>

{% endblock %}
