{% extends 'base.html.twig' %}

{% block title %}Proverbe index{% endblock %}

{% block body %}
    <h1>Proverbe index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Proverbe</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for proverbe in proverbes %}
            <tr>
                <td>{{ proverbe.id }}</td>
                <td>{{ proverbe.proverbe }}</td>
                <td>{{ proverbe.description }}</td>
                <td>
                    <a href="{{ path('proverbe_show', {'id': proverbe.id}) }}">show</a>
                    <a href="{{ path('proverbe_edit', {'id': proverbe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('proverbe_new') }}">Create new</a>
{% endblock %}
