{% extends 'base.html.twig' %}

{% block title %}Locution index{% endblock %}

{% block body %}
    <h1>Locution index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Locution</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for locution in locutions %}
            <tr>
                <td>{{ locution.id }}</td>
                <td>{{ locution.locution }}</td>
                <td>{{ locution.description }}</td>
                <td>
                    <a href="{{ path('locution_show', {'id': locution.id}) }}">show</a>
                    <a href="{{ path('locution_edit', {'id': locution.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('locution_new') }}">Create new</a>
{% endblock %}
