<!DOCTYPE html>

<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} - {{ app_name }}{% endblock %}</title>

        <meta property="fb:app_id" content="440835073385326" />
        <meta property="og:locale" content="fr_FR" />
        <meta property="og:url" content="{{ app.request.uri }}" />
        <meta property="og:type" content="{{ (app.request.get('_route') == 'index_index') ? 'website' : 'article' }}" />

        {% block opengraph_image %}
            <meta property="og:image" content="https://www.alamouriska.com/images/deep-sea2.jpg" />
        {% endblock %}

        {% block opengraph_title %}
            <meta property="og:title" content="- {{ app_name }}" />
        {% endblock %}

        {% block opengraph_description %}
            <meta property="og:description" content="{{ app_name }} est une application dédiée au rassemblement et stockage des mots algériens, du repertoire historique de la derdja." />
        {% endblock %}

        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="robots" content="index,follow">
        <meta name="author" content="{{ app_name }}">
        <meta name="keywords" content="derdja algérienne, daridja, dardja, mots algériens, proverbes algériens, expressions algériennes, alamouriska, zkara, nafha, blagues algériennes">
        <meta name="description" content="{{ app_name }} est une application dédiée au rassemblement et stockage des mots algériens, du repertoire historique de la derdja.">

        {% block font %}{% endblock %}

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
    </head>

    <body{{ app.request.get('_route') == 'index_index' ? ' class="cp"'}}>

    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '440835073385326',
                cookie     : true,
                xfbml      : true,
                version    : 'v3.3'
            });

            FB.getLoginStatus(function(response) {
                statusChangeCallback(response);
            });

        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));


        function statusChangeCallback(response) {
            let isAppLogged = '{{ app.user ? 'true' : 'false' }}';
            if (response.status === 'connected' && isAppLogged === 'false') {
                loginFbUser();
            } else {
            }
        }

        function checkLoginState() {
            FB.getLoginStatus(function(response) {
                statusChangeCallback(response);
            });
        }

        function fbLogout() {
            FB.logout(function (response) {
                console.log('logged out');
            });
        }

        function loginFbUser() {
            FB.api('/me?fields=name,email', function (response) {
                let name = response.name.replace(/\s+/g, '');
                $.get('/async/fb-login?name='+name+'&email='+response.email+'&id='+response.id, function (data) {
                    if (+data.status === 1) {
                        if (+data.register === 1) {
                            location.href= '/profile/';
                        } else {
                            location.reload();
                        }
                    }
                });
            })
        }

    </script>

    <!--
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v3.3&appId=263627287859491&autoLogAppEvents=1"></script>
    -->

    <header class="main-header">
        <nav class="navbar fixed-top navbar-expand-lg navbar-light text-dark">
            <div class="container">

                <a class="navbar-brand" href="/">
                    <img src="{{ asset('images/alamouriska-logo.jpg') }}" alt="{{ app_name }} Logo" title="{{ app_name }} - {{ 'slogan' | trans }}" class="rounded">

                    <span class="d-lg-none font-weight-bold">{{ app_name }}</span>
                </a>

                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">

                    {{ knp_menu_render('main') }}

                    <div class="user-cont mr-2">
                        <!--
                        <a href="/#journal-public" class="d-lg-none btn btn-primary">Journal</a>
                        -->

                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <a href="{{ path('fos_user_profile_show') }}" class="user btn" title="Paramètres">
                                <i class="fa fa-cog"></i>
                            </a>
                            {%  include 'partials/avatar.html.twig' with { 'current_user': app.user, 'size': 32, 'classes': 'mt-n2' } only %}
                        {% else %}
                            <a href="{{ path('fos_user_security_login') }}" title="Se connecter ou S'inscrire" class="user btn rounded">
                                <i class="fa fa-user-circle"></i>
                            </a>
                        {% endif %}
                    </div>

                    {% block search %}
                        {{ include('partials/search.html.twig', { domain : 'tout' }) }}
                    {% endblock %}

                </div>
            </div>
        </nav>
    </header>

    <main>
        {% block body %}{% endblock %}
    </main>

    <footer class="main-footer py-3 py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    {{ knp_menu_render('footer') }}
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <a href="https://www.facebook.com/alamouriska/" target="_blank" class="display-4 text-white">
                        <i class="fa fa-facebook-official" title="{{ app_name }} Facebook page"></i>
                    </a>
                    <a href="https://www.twitter.com/alamouriska" target="_blank" class="display-4 text-white">
                        <i class="fa fa-twitter" title="{{ app_name }} Twitter page"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="{{ asset('js/main.js') }}"></script>

    {% block javascripts %}{% endblock %}

    <!--
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="" type="video/mp4">
    </video>
    -->
    </body>
</html>
