{% extends 'base.html.twig' %}

{% block title %}
    {{ 'label.almrsk.h1' | trans({'%almrsk%' : domain, '%gender%': 'algériens'}) }} -
    {{ parent() }}
{% endblock %}

{% block search %}
    {{ include('partials/search.html.twig', { 'domain' : domain }) }}
{% endblock %}

{% block body %}

    <div class="container almrsk-post">
        <div class="row">

            <div class="col-sm-8">
                <h1 class="mb-3">{{ 'label.almrsk.h1' | trans({'%almrsk%' : domain, '%gender%': 'algériens'}) }}</h1>

                <a href="#post-anchor" class="btn btn-happy w-100 mb-2 d-lg-none">
                    {{ 'label.almrsk.insert_new' | trans({'%almrsk%' : 'un nouveau mot'}) }}
                </a>

                {% if posts | length > 0 %}
                    {% for post in posts %}
                        <div class="bg-white rounded text-dark mb-4">
                            <div class="media p-1 {{ post.imageName is null ? 'border-bottom' }}">
                                {%  include 'partials/avatar.html.twig' with {'current_user': post.user, 'size': 64, 'classes': 'mr-3 rounded' } only %}
                                <div class="media-body">
                                    <p class="mt-1">
                                        <strong>Ajouté(e) par:
                                            <a href="{{ path('user_show', { 'username': post.user.username }) }}">{{ post.user.username }}</a>
                                        </strong>
                                        <br>
                                        <span class="text-secondary">Le: {{ post.createdAt | date }}</span>
                                    </p>
                                </div>
                            </div>

                            <div class="center-container bg-light border-bottom">

                                {% if post.imageName %}
                                    <div class="mb-3 bg-secondary">
                                        <a href="{{ path('post_show', {'domain': domain, 'id': post.id, 'slug': post.slug }) }}">
                                            {%  include 'partials/post_image.html.twig' with {'type': post } only %}
                                        </a>
                                    </div>
                                {% endif %}

                                <div class="p-3">
                                    {% if domain == 'mots' %}
                                        <h2 class="mt-0 mb-1" title="{{ 'label.latin_char' | trans }}">
                                            <a href="{{ path('post_show', {'domain': domain, 'id': post.id, 'slug': post.slug }) }}">
                                                {{ post }}
                                            </a>
                                        </h2>
                                        <h3 class="text-muted border-bottom pb-2">
                                            <span>{{ 'label.tamazight_char' | trans }}: {{ post.inTamazight | default('...') }}</span> |
                                            <span>{{ 'label.arabic_char' | trans }}: {{ post.inArabic | default('...') }}</span>
                                        </h3>
                                        <p>{{ post.description }}</p>

                                    {% else %}
                                        <p class="border-bottom mb-0 pb-2" title="{{ entity }}">
                                            <i class="fa fa-book"></i>
                                            {{ post }}
                                        </p>
                                        <p class="mb-0 pt-2" title="Explication">
                                            <i class="fa fa-question-circle"></i>
                                            {{ post.description }}
                                        </p>
                                    {% endif %}
                                </div>

                            </div>

                            <!--
                            <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                            -->

                            {% if likings is defined %}
                                <div class="bottom-container p-2 text-right">

                                    {%  include 'partials/liking.html.twig' with {
                                        'owner': entity,
                                        'owner_id': post.id,
                                        'liking_users': likings | length > 0 ? likings[post.id] is defined ? likings[post.id] : [] : []
                                    } only %}

                                    <a href="{{ path('post_show', {'domain': domain, 'id': post.id, 'slug': post.slug }) }}" title="{{ 'label.details_reactions' | trans }}" class="ml-3">
                                        <i class="fa fa-comment"></i>
                                        {{ 'label.comments' | trans }}
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}

                    <div class="pagination-container mb-3">
                        {{ knp_pagination_render(posts) }}
                    </div>
                {% endif %}
            </div>

            {% if form is defined %}
                <div class="col-sm-4" id="post-anchor">
                    {{ include('partials/post_form.html.twig', {'header' : 'Ajoure'}) }}
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}
