{% extends 'base.html.twig' %}

{% set title = 'Liste des ' ~ ('label.' ~ domain) | trans %}

{% block title %}
    {{ title }}
    {{ parent() }}
{% endblock %}

{% block opengraph_title %}
    <meta property="og:title" content="{{ title }} {{ parent() }}" />
{% endblock %}

{% block opengraph_description %}
    <meta property="og:description" content="Cherchez et trouvez des mots de la langue algérienne populaire, derdja" />
{% endblock %}

{% block search %}
    {{ include('partials/search.html.twig', { 'domain' : domain }) }}
{% endblock %}

{% block body %}
    <div class="container almrsk-post">
        <div class="row">

            <div class="col-sm-8">
                <h1 class="mb-3">{{ title }}</h1>

                {% if app.request.get('enigmatique') %}
                    <p>
                        Des membres se posent des questions sur l'origine de certaines
                        tournures de langage ; aidez-les.
                    </p>
                {% endif %}

                <a href="#post-anchor" class="btn btn-happy w-100 mb-2 d-lg-none">
                    {{ 'label.almrsk.insert_new' | trans({'%almrsk%' : 'un nouveau mot'}) }}
                </a>

                {% if posts | length > 0 %}
                    {% for post in posts %}
                        <div class="bg-white rounded text-dark mb-4">
                            <div class="media p-1 {{ post.imageName is null ? 'border-bottom' }}">
                                {%  include 'partials/avatar.html.twig' with {'current_user': post.user } only %}
                                <div class="media-body">
                                    <p class="mt-1">
                                        {%  include 'partials/action_by.html.twig' with {'user': post.user, 'action_date': post.createdAt  } only %}
                                    </p>
                                </div>
                            </div>

                            <div class="center-container bg-light border-bottom">
                                <div class="p-2">
                                    {% if domain == 'mots-algeriens' %}
                                        <h2 class="mt-0 mb-2" title="{{ 'label.latin_char' | trans }}">
                                            <a href="{{ path('post_show', {'domain': domain, 'id': post.id, 'slug': post.slug }) }}">
                                                {{ post.post }}
                                            </a>
                                        </h2>
                                        <h3 class="text-muted border-bottom pb-2">
                                            <span class="border-right border-secondary pr-1" title="{{ 'label.tamazight_char' | trans }}">{{ post.inTamazight | default('...') }}</span>
                                            <span class="" title="{{ 'label.arabic_char' | trans }}">{{ post.inArabic | default('...') }}</span>
                                        </h3>
                                        <p>{{ post.description | nl2br }}</p>

                                    {% elseif domain == 'blagues-algeriennes' %}
                                        <p class="mb-0 pb-2">
                                            {{ post.post | nl2br }} }}
                                        </p>

                                    {% elseif domain == 'blogs-algeriens' %}

                                        <h2 class="mb-3">
                                            <a href="{{ path('post_show', {'domain': domain, 'id': post.id, 'slug': post.slug }) }}">
                                                <i class="fa fa-book"></i>
                                                {{ post.post }}
                                            </a>
                                        </h2>

                                        <div>
                                            <p class="d-inline-block mr-2">
                                                <a href="{{ path('post_show', {'domain': domain, 'id': post.id, 'slug': post.slug }) }}">
                                                    {%  include 'partials/post_image.html.twig' with {'type': post, 'force_height': 100 } only %}
                                                </a>
                                            </p>
                                            <p class="d-inline-block" style="vertical-align: top">
                                                {{ post.description | truncate(100) | nl2br }}
                                            </p>
                                        </div>

                                    {% else %}

                                        <p class="mb-0 pt-2" title="Explication">
                                            <i class="fa fa-question-circle"></i>
                                            {{ post.description | nl2br }}
                                        </p>
                                    {% endif %}
                                </div>

                                {% if post.imageName and domain != 'blogs-algeriens' %}
                                    <div class="bg-secondary">
                                        <a href="{{ path('post_show', {'domain': domain, 'id': post.id, 'slug': post.slug }) }}">
                                            {%  include 'partials/post_image.html.twig' with {'type': post } only %}
                                        </a>
                                    </div>
                                {% endif %}

                            </div>

                            <div class="bottom-container p-2 text-right">
                                {% if likings is defined %}

                                    {%  include 'partials/liking.html.twig' with {
                                        'owner': entity,
                                        'owner_id': post.id,
                                        'liking_users': likings | length > 0 ? likings[post.id] is defined ? likings[post.id] : [] : []
                                    } only %}

                                {% endif %}

                                <a href="{{ path('post_show', {'domain': domain, 'id': post.id, 'slug': post.slug }) }}" title="{{ 'label.details_reactions' | trans }}" class="ml-3">
                                    <i class="fa fa-comment"></i>
                                    {{ 'label.comments' | trans }} ({{ post.comments | length }})
                                </a>
                            </div>

                        </div>
                    {% endfor %}

                    <div class="pagination-container mb-3">
                        {{ knp_pagination_render(posts) }}
                    </div>


                 {% else %}
                    <div class="alert alert-warning">
                        <i class="fa fa-info-circle"></i>
                        Aucun resultat trouvé
                    </div>
                {% endif %}


            </div>

            {% if form is defined %}
                <div class="col-sm-4" id="post-anchor">
                    {{ include('partials/post_form.html.twig', {'entity' : entity}) }}
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}
