{% extends 'base.html.twig' %}

{% block title %}
    Profil de {{ user.username }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">

        <div class="row mb-4">

            <div class="col-sm-8">
                <div class="media mb-2">
                    {%  include 'partials/avatar.html.twig' with {'current_user': user, 'size': 128, 'classes': 'mr-3 rounded' } only %}
                    <div class="media-body">
                        <h1>Publications de {{ user.username }}</h1>
                        <h2>Membre depuis le {{ user.createdAt | localizeddate('long', 'none', app.request.locale) }}</h2>
                        <h5>{{ (user.activePosts('words') | length + user.activePosts('expressions') | length + user.activePosts('proverbs') | length + user.activePosts('jokes') | length) }} publication(s).</h5>
                    </div>
                </div>
            </div>

            {% if app.user %}
            <div class="col-sm-4 text-dark">
                {% if user.allowMemberContact is same as(true) %}
                <form method="post" name="member-contact" id="member-contact" class="bg-happy p-2 rounded">
                    <div class="form-group m-0">
                        <label for="message" class="d-inline"></label>
                        <textarea name="message" id="message" class="w-100 border-0 p-1 rounded" rows="2">Contacter {{ user.username }}...</textarea>
                    </div>
                    <input type="hidden" name="sender" value="{{ app.user.id }}">
                    <input type="hidden" name="receiver" value="{{ user.id }}">
                    <button type="submit" class="btn btn-primary right">OK</button>
                </form>
                {% endif %}
            </div>
            {% endif %}

        </div>

        <div class="row text-dark">
            <div class="col-sm">{% include 'partials/post_list.html.twig' with {'posts': user.activePosts('words'), 'domain': 'mots', 'header': 'label.words' | trans } only %}</div>
            <div class="col-sm">{% include 'partials/post_list.html.twig' with {'posts': user.activePosts('expressions'), 'domain': 'expressions', 'header': 'label.expressions' | trans } only %}</div>
            <div class="col-sm">{% include 'partials/post_list.html.twig' with {'posts': user.activePosts('proverbs'), 'domain': 'proverbes', 'header': 'label.proverbs' | trans } only %}</div>
            <div class="col-sm">{% include 'partials/post_list.html.twig' with {'posts': user.activePosts('jokes'), 'domain': 'blagues', 'header': 'label.jokes' | trans } only %}</div>
        </div>
    </div>
{% endblock %}
