{% extends 'base.html.twig' %}

{% block title %}
    Profil de {{ user.username }} - {{ parent() }}
{% endblock %}

{% block opengraph_title %}
    <meta property="og:title" content="Profil de {{ user.username }} - {{ app_name }}" />
{% endblock %}

{% block opengraph_description %}
    <meta property="og:description" content="{{ user.username }} est membre de {{ app_name }} dans la recherche des mots et proverbes algériens en derdja" />
{% endblock %}

{% block body %}

    <div class="container profile">
        <div class="row mb-4 text-center">
            <div class="col-sm-2">
                {%  include 'partials/avatar.html.twig' with {'current_user': user, 'size': 128 } only %}
            </div>
            <div class="col-sm-5 mt-3 posts-h">
                <h1>Profil de {{ user.username }}</h1>
                <h2>Membre depuis le {{ user.createdAt | localizeddate('long', 'none', app.request.locale) }}</h2>
                <h3>{{ (user.words | length + user.expressions | length + user.proverbs | length + user.jokes | length) }} publications</h3>
            </div>
            <div class="col-sm-5 mt-3 text-right">
                {% if app.user and user.allowMemberContact is same as(true) %}
                    <form method="post" name="member-contact" id="member-contact" class="bg-happy p-2 rounded">
                        <div class="form-group m-0">
                            <label for="message" class="d-inline"></label>
                            <textarea name="message" id="message" class="w-100 border-0 p-1 rounded" rows="2">Contacter {{ user.username }}...</textarea>
                        </div>
                        <input type="hidden" name="sender" value="{{ app.user.id }}">
                        <input type="hidden" name="receiver" value="{{ user.id }}">
                        <button type="submit" class="btn btn-primary right">OK</button>
                    </form>
                {% endif %}
            </div>
        </div>

        <div class="row text-dark">
            <div class="col-sm">{% include 'partials/post_list.html.twig' with {'posts': user.words, 'domain': domain_by_entity('App\\Entity\\Word'), 'header': 'label.words' | trans } only %}</div>
            <div class="col-sm">{% include 'partials/post_list.html.twig' with {'posts': user.expressions, 'domain': domain_by_entity('App\\Entity\\Expression'), 'header': 'label.expressions' | trans } only %}</div>
            <div class="col-sm">{% include 'partials/post_list.html.twig' with {'posts': user.proverbs, 'domain': domain_by_entity('App\\Entity\\Proverb'), 'header': 'label.proverbs' | trans } only %}</div>
            <div class="col-sm">{% include 'partials/post_list.html.twig' with {'posts': user.jokes, 'domain': domain_by_entity('App\\Entity\\Joke'), 'header': 'label.jokes' | trans } only %}</div>
        </div>

    </div>
{% endblock %}
