{% extends 'base.html.twig' %}

{% block title %}
    Profil de {{ user.username }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">

        <div class="row mb-5">
            <div class="col-sm-8">
                <div class="media">
                    {%  include 'partials/avatar.html.twig' with {'current_user': user, 'size': 128, 'classes': 'mr-3 rounded' } only %}
                    <div class="media-body">
                        <h1 class="d-inline">Publications de {{ user.username }}</h1>
                        <h2>Membre depuis le {{ user.createdAt | localizeddate('long', 'none', app.request.locale) }}</h2>
                        <h5>{{ mots | length }} publication(s).</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-dark">
                {% if user.allowMemberContact is same as(true) %}
                <form method="post" name="member-contact" id="member-contact" class="bg-happy p-2 rounded">
                    <div class="form-group m-0">
                        <label for="message" class="d-inline"></label>
                        <textarea name="message" id="message" class="w-100 border-0 p-1 rounded" rows="2">Contacter {{ user.username }}...</textarea>
                    </div>
                    <input type="hidden" name="sender" value="{{ app.user.id }}">
                    <input type="hidden" name="receiver" value="{{ user.id }}">
                    <button type="submit" class="btn btn-primary right">OK</button>
                </form>
                {% endif %}
            </div>
        </div>

        <div class="row">

            <div class="col-sm-4">
                <div class="card text-dark">
                    <p class="card-header">
                        <strong>{{ 'label.user.almrsk.list' | trans({'%almrsk%' : 'mots'}) }}</strong>
                    </p>
                    <div class="card-body">
                        <ul>
                            {% for mot in mots %}
                                <li>
                                    <a href="{{ path('mot_show', { 'id': mot.id, 'slug': mot.slug|default('hhh') }) }}">
                                        {{ mot.inLatin }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card text-dark">
                    <p class="card-header">
                        <strong>{{ 'label.user.almrsk.list' | trans({'%almrsk%' : 'locutions'}) }}</strong>
                    </p>
                    <div class="card-body">

                        <ul>
{#                            {% for locution in locutions %}#}
{#                                <li><a href="{{ path('locution_show', { 'id': locution.id }) }}">{{ locution }}</a></li>#}
{#                            {% endfor %}#}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card text-dark">
                    <p class="card-header">
                        <strong>{{ 'label.user.almrsk.list' | trans({'%almrsk%' : 'proverbes'}) }}</strong>
                    </p>
                    <div class="card-body">
                        <ul>
{#                            {% for proverbe in proverbes %}#}
{#                                <li><a href="{{ path('proverbe_show', { 'id': proverbe.id }) }}">{{ proverbe }}</a></li>#}
{#                            {% endfor %}#}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
