{% extends 'base.html.twig' %}

{% block title %}Mot index{% endblock %}

{% block body %}
    <h1>Mot index</h1>

    <div class="container">
        <div class="row">
            <div class="col-sm">

                {% for mot in mots %}
                    <div class="card">
                        <h2>{{ mot.inLatin }}</h2>
                    </div>
                {% endfor %}


                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>CreatedAt</th>
                        <th>UpdatedAt</th>
                        <th>InLatin</th>
                        <th>InTamazight</th>
                        <th>InArabic</th>
                        <th>Description</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for mot in mots %}
                        <tr>
                            <td>{{ mot.id }}</td>
                            <td>{{ mot.createdAt ? mot.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ mot.updatedAt ? mot.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ mot.inLatin }}</td>
                            <td>{{ mot.inTamazight }}</td>
                            <td>{{ mot.inArabic }}</td>
                            <td>{{ mot.description }}</td>
                            <td>
                                <a href="{{ path('mot_show', {'id': mot.id}) }}">show</a>
                                <a href="{{ path('mot_edit', {'id': mot.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-sm">
                One of three columns
            </div>
        </div>
    </div>


    <a href="{{ path('mot_new') }}">Create new</a>
{% endblock %}
