{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    {{ 'label.almrsk_h1' | trans({'%almrsk%' : 'mots'}) }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-sm-8">
                <h1 class="mb-3">{{ 'label.almrsk_h1' | trans({'%almrsk%' : 'mots'}) }}</h1>

                {% for mot in mots %}
                    <div class="media">

                        {%  include 'partials/avatar.html.twig' with {'almrsk': mot, 'user': app.user, 'size': 64 } only %}

                        <div class="media-body">
                            <h2 class="mt-0 mb-1" title="{{ 'label.latin_char' | trans }}">
                                <a href="{{ path('mot_show', {'id': mot.id}) }}">
                                    {{ mot.inLatin }}
                                </a>
                            </h2>
                            <h3 class="mt-0">
                                <span title="{{ 'label.tamazight_char' | trans }}">{{ mot.inTamazight }}</span> |
                                <span title="{{ 'label.arabic_char' | trans }}">{{ mot.inArabic }}</span>
                            </h3>
                            <p>{{ mot.description }}</p>

                            <div class="float-right">
                                {%  include 'partials/thumbs_up.html.twig' with {'almrsk': mot } only %}
                                |
                                <a href="{{ path('mot_show', {'id': mot.id}) }}" title="{{ 'label.details_reactions' | trans }}">
                                    <i class="fa fa-comment"></i>
                                    {{ 'label.comments' | trans }}
                                </a>
                            </div>

                        </div>
                    </div>
                    <hr class="bg-white">
                {% endfor %}
            </div>

            <div class="col-sm-4">
                <div class="card text-dark almrsk-submission">
                    <p class="card-header">
                        <strong>{{ 'label.almrsk_insert_new' | trans({'%almrsk%' : 'un nouveau mot'}) }}</strong>
                    </p>
                    <div class="card-body">
                        {{ include('partials/_form.html.twig') }}
                    </div>
                    <img src="{{ asset('images/hippocampe.gif') }}" class="hippocampe" alt="Hippocampe">
                </div>
            </div>

        </div>
    </div>
{% endblock %}
