{% extends 'base.html.twig' %}

{% block title %}Mot index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-sm-8">
                <h1 class="mb-3">{{ 'almrsk.h1' | trans({'%almrsk%' : 'mots'}) }}</h1>

                {% for mot in mots %}
                    <div class="media">
                        <img class="align-self-start mr-3" src="{{ asset('images/sunny.png') }}" alt="Generic placeholder image">
                        <div class="media-body">
                            <h2 class="mt-0 mb-1" title="{{ 'label.latin_char' | trans }}">
                                <a href="{{ path('mot_show', {'id': mot.id}) }}">
                                    {{ mot.inLatin }}
                                </a>
                            </h2>
                            <h3 class="mt-0">
                                <span title="{{ 'label.tamazight_char' | trans }}">{{ mot.inTamazight }}</span> |
                                <span title="{{ 'label.arabic_char' | trans }}">{{ mot.inArabic }}</span>
                            </h3>
                            <p>{{ mot.description }}</p>
                            <p>
                                <a href="{{ path('mot_show', {'id': mot.id}) }}" class="float-right">
                                    <i class="fa fa-arrow-right"></i>
                                    {{ 'label.details_reactions' | trans }}
                                </a>
                            </p>
                        </div>
                    </div>
                    <hr class="bg-white">
                {% endfor %}
            </div>

            <div class="col-sm-4">
                <div class="card text-dark">
                    <p class="card-header">{{ 'almrsk.form.new' | trans({'%almrsk%' : 'un nouveau mot'}) }}</p>
                    <div class="card-body">
                        {{ include('mot/_form.html.twig') }}
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}
