{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    {{ mot.inLatin }}
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">

            <div class="col-sm-2 mx-auto">

                <p>{%  include 'partials/avatar.html.twig' with {'almrsk': mot, 'user': app.user, 'size': 128 } only %}</p>

                <p>
                    <i class="fa fa-user"></i>
                    <a href="{{ path('member_show', {'username': mot.user.username}) }}" title="{{'label.almrsk_by' | trans({'%username%': mot.user.username}) }}">
                        {{ mot.user.username }}
                    </a>
                </p>

            </div>

            <div class="col-sm-10">
                <h1 class="mb-3">{{ mot.inLatin }}</h1>

                <div class="media">
                    <div class="media-body">
                        <h2 class="mt-0 mb-3" title="{{ 'label.latin_char' | trans }}">
                            {{ 'label.tamazight_char' | trans }} : {{ mot.inTamazight }}<br>
                            {{ 'label.arabic_char' | trans }} : {{ mot.inArabic }}
                        </h2>
                        <p>{{ mot.description }}</p>

                        <p>
                            <a href="#">
                                J'aime
                            </a>
                        </p>

                        <hr class="bg-white">

                        <div class="comments">
                            sdfsdfgsdfg
                        </div>
                    </div>
                </div>

            </div>




        </div>
    </div>

{% endblock %}
