{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    {{ mot.inLatin }}
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-sm-8">


                <div class="media">

                    {%  include 'partials/avatar.html.twig' with {'almrsk': mot, 'user': app.user, 'size': 64 } only %}

                    <div class="media-body">
                        <h1 class="mb-1">{{ mot.inLatin }}</h1>
                        <h2 class="mt-0">
                            <span title="{{ 'label.tamazight_char' | trans }}">{{ mot.inTamazight }}</span> |
                            <span title="{{ 'label.arabic_char' | trans }}">{{ mot.inArabic }}</span>
                        </h2>

                        {% if mot.imageName %}
                            <p>{%  include 'partials/almrsk_image.html.twig' with {'almrsk': mot } only %}</p>
                        {% endif %}

                        <p>{{ mot.description }}</p>

                        <div class="float-right">
                            {%  include 'partials/thumbs_up.html.twig' with {'almrsk': mot } only %}
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-4">
                <div class="card text-dark almrsk-comments">
                    <p class="card-header">
                        <strong>{{ 'label.comments' | trans }}</strong>
                    </p>

                    {% set comments = ['asdasdasd', 'asdasd'] %}


                    <div class="card-body">
                        {% for comment in comments %}
                            <p>{{ comment }}</p>

                        {% endfor %}


                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
